<div style="background-color: black;" class="container-fluid  text-light">
<div class="row">
   
    <div style="margin-top: 20px;" class="col-sm-4">
        <h3 class="text-warning">Contact Information</h3>
        <p><i class="fas fa-map-marker-alt "></i>&nbsp &nbsp  Hyderabad,TS,India</p>
        <p><i class="fas fa-envelope mr-2"></i>&nbsp &nbsp    786jabidkhan@gmail.com</p>
        <p><i class="fas fa-phone-alt mr-2"></i>&nbsp &nbsp +91 9676022351 </p>
        <p><i class="fas fa-globe-americas mr-2"></i>&nbsp &nbsp   www.mytechnologies.com</p>
    </div>

    <div div style="margin-top: 20px;" class="col-sm-4">
        <h2  class="text-warning">Online Job Inforamtion</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quas expedita enim itaque suscipit laboriosam impedit quos tempora minus doloremque minima, exercitationem dolores, reprehenderit sunt nobis voluptate odit incidunt provident?</p>
    </div>

    <div div style="margin-top: 20px;" class="col-sm-4">
        <h2  class="text-warning">Any Query ??</h2>
        <form action="">
            <label for="" class="fs-4">Email</label>
            <input class="form-control" type="email" placeholder="Email id"><br>
            <input type="submit" value="Ask Us" class="btn btn-warning">
        </form>
    
    </div>
</div>
</div>
<!-- footer part -->
<div class="container-fluid">
    <div class="footer p-2">
        <h6 class="text-center">copyright@2021 <span>Designed By JABIDKHAN</span></h6>
    </div>
</div>