{% extends 'job/base.html' %}
{% load static %}

{% block navigation %}
{% include 'job/student_navigation.html' %}
{% endblock navigation %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        <p class="alert alert-warning">{{message}}</p>
        {% endfor %}
{% endif %}

<div style="height: 300px;">
<div class="container">
    <h4 class="text-center text-warning"><marquee behavior="" direction="left">Student Profile Page</marquee></h4>
    
</div>
</div>
{% endblock content %}
